<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="socket.io/socket.io.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<link rel="stylesheet" href="/stylesheet/style1.css">



    <style>

  

    body{
      background: #808080;
      margin: 0;
    } 
	
	</style>

<script type="text/javascript">

	  
var socket = io("http://192.168.1.25:3000");

// hàm lắng nghe server gửi data

socket.on("web", function(data){

console.log(data); //F12


console.log("Nhiệt độ:" + data.nhietdo);

console.log("Độ ẩm:" + data.doam);

console.log("Ánh sáng:" + data.anhsang);

console.log("Relay 1:" +data.relay1);
console.log("Relay 1:" +data.relay2);

document.getElementById("nhietdo").innerHTML = data.nhietdo ;
     
		// hiển thị độ ẩm 
document.getElementById("doam").innerHTML = data.doam ; 
     
		// hiển thị ánh sáng 
document.getElementById("anhsang").innerHTML = data.anhsang ;


if(data.relay1 == 0)
{
	document.getElementById("den1").src="images/off.jpg";
	document.getElementById("myCheckthietbi1").checked = false ;
}
else if(data.relay1 == 1)
{
	document.getElementById("den1").src="images/on.jpg";
	document.getElementById("myCheckthietbi1").checked = true ;
}

if(data.relay2 == 0)
{
	document.getElementById("den2").src="images/off.jpg";
	document.getElementById("myCheckthietbi2").checked = false ;
}
else if(data.relay2 == 1)
{
	document.getElementById("den2").src="images/on.jpg";
	document.getElementById("myCheckthietbi2").checked = true ;
}

});


function Dieukhienthietbi1()
 {
	 var checkBoxTB1 = document.getElementById("myCheckthietbi1");
        if (checkBoxTB1.checked == true)
        {       
            socket.emit("htmlclient","A1B");
        } 
        else  if (checkBoxTB1.checked == false)
        {
           socket.emit("htmlclient","A0B");
        } 
		var x = document.getElementById("snackbar");
		x.className = "show";
		setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
 }
 
 function Dieukhienthietbi2()
 {
	 var checkBoxTB2 = document.getElementById("myCheckthietbi2");
        if (checkBoxTB2.checked == true)
        {       
           socket.emit("htmlclient","C1D");
        } 
        else  if (checkBoxTB2.checked == false)
        {
           socket.emit("htmlclient","C0D");
        } 
		var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
 }	


function Send_1()
{
	var caidat1 = "E" + document.getElementById("caidatthongso1").value + "F";
		
	socket.emit("htmlclient",caidat1);
	var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
} 
function Send_2()
{
	var caidat2 = "G" + document.getElementById("caidatthongso2").value + "H";
		
	socket.emit("htmlclient",caidat2);
	var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}	  
	  
</script>

</head>

 
<body >
	
    <!-- Header -->
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#home">
                        <h1>KHÓA HỌC IOT ONLINE NODEJS</h1>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="#home" data-after="Home">Khóa học</a></li>
                        <li><a href="#dashboard" data-after="Dashboard">Điều Khiển</a></li>
                        <li><a href="#dashboard1" data-after="About">Cảm Biến</a></li>
                        <li><a href="#contact" data-after="Contact">Liên Hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
   
    <section id="home">
        <div class="home container">
            <div>
                <h1>Xin Chào!!! <span></span></h1>
                <h1>Lớp Học IOT Online!!!<span></span></h1>
                <a href="#about" type="button" class="cta">Information</a>
            </div>
        </div>
    </section>


    <section id="dashboard">
        <div class="dashboard container">
            
           <table width="1000" height="400" border="6" cellpadding="10" align="center" >	 
	 <tr>
	      <th bgcolor="#FF9900"  colspan="5"> <center> <font size="10"> <span style = "color: red"> Điều Khiển Thiết Bị</span></font></center></th>
	 </tr>	 
	 <tr>
        <td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Thiết bị 1 </b>  </span> </center> </td>
        <td bgcolor="#00FF00" colspan="1" align="center" >  
				<input type="checkbox" class="checkbox" id="myCheckthietbi1"   onclick="Dieukhienthietbi1()">
        </td>
		<td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Trạng thái thiết bị 1 </b>  </span> </center> </td>
		<td bgcolor="#ffffff" colspan="2" align="center">
		<img id="den1"src="images/on.jpg" />
        </td>		
     </tr>
	 
	 <tr>
        <td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Thiết bị 2 </b>  </span> </center> </td>
        <td bgcolor="#00FF00" colspan="1" align="center">  
		      <input type="checkbox" class="checkbox" id="myCheckthietbi2"   onclick="Dieukhienthietbi2()">		  
        </td>
		<td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Trạng thái thiết bị 2 </b>  </span> </center> </td>
		<td bgcolor="#ffffff" colspan="2" align="center">
			<img id="den2" src="images/on.jpg" />
        </td>		
     </tr>
	 <tr>
        <td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Thiết bị 3 </b>  </span> </center> </td>
        <td bgcolor="#00FF00" colspan="1" align="center" >  
				<input type="checkbox" class="checkbox" id="myCheckthietbi3"   onclick="Dieukhienthietbi3()">
        </td>
		<td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Trạng thái thiết bị 3 </b>  </span> </center> </td>
		<td bgcolor="#ffffff" colspan="2" align="center">  
		<img id="den3" src="images/on.jpg" />
        </td>		
     </tr>
	 <tr>
        <td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Thiết bị 4 </b>  </span> </center> </td>
        <td bgcolor="#00FF00" colspan="1" align="center" >  
				<input type="checkbox" class="checkbox" id="myCheckthietbi4"   onclick="Dieukhienthietbi4()">
        </td>
		<td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Trạng thái thiết bị 4 </b>  </span> </center> </td>
		<td bgcolor="#ffffff" colspan="2" align="center">
			<img  id="den4" src="images/on.jpg" />
        </td>		
     </tr>	

		
		
	 </table>	
	 
	 </div>
	 </br>
	 </br>
	 </br>
	 </br>
	 </br>
	 </br>
	 
	 
    </section>
 
 
   <section id="dashboard1">
        <div class="dashboard container">
            
           <table width="1000" height="400" border="6" cellpadding="10" align="center" >	 
	 <tr>
	      <th bgcolor="#FF9900"  colspan="5"> <center> <font size="10"> <span style = "color: red"> CẢM BIẾN</span></font></center></th>
	 </tr>	 
	 <tr>
        <td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Nhiệt độ </b>  </span> </center> </td>
        <td bgcolor="#00FF00" colspan="1" align="center" >  
			
		    <h1>
				<label id= 'nhietdo'>0</label>   
				
			</h1>	
	
        </td>
		
		<td bgcolor="#ffffff" colspan="3" align="center">
			<img id="den2" src="images/8.jpg" />
        </td>		
     </tr>
	 
	 <tr>
        <td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Độ ẩm </b>  </span> </center> </td>
        <td bgcolor="#00FF00" colspan="1" align="center">  
		  
		    <h1>
				<label id= 'doam'>0</label>   
			</h1>
				  
        </td>
		
		<td bgcolor="#ffffff" colspan="3" align="center">
			<img id="den2" src="images/9.jpg" />
        </td>		
     </tr>
	 <tr>
        <td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Ánh sáng </b>  </span> </center> </td>
        <td bgcolor="#00FF00" colspan="1" align="center" >  
		
		    <h1>
				<label id= 'anhsang'>0</label>   
			</h1>
		
        </td>
		
		<td bgcolor="#ffffff" colspan="3" align="center">  
		<img id="den3" src="images/10.jpg" />
        </td>		
     </tr>
	 <tr>
        <td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Cài Đặt 1 </b>  </span> </center> </td>
        <td bgcolor="#00FF00" colspan="1" align="center"  style="width: 500px; height: 50px;">  
			
		    <input id="caidatthongso1"   placeholder="Cài Đặt 1" style="width: 300px; height: 50px;">
			<button class="button1" onclick="Send_1()">Click Me</button>
		
        </td>
		
		<td bgcolor="#ffffff" colspan="3" align="center" style="width: 200px; height: 50px;">
			<img  id="den4" src="images/11.jpg" />
        </td>		
     </tr>

		<tr>
        <td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Cài Đặt 2 </b>  </span> </center> </td>
        <td bgcolor="#00FF00" colspan="1" align="center" >  
			
		    <input id="caidatthongso2"   placeholder="Cài Đặt 2" style="width: 300px; height: 50px;">
			<button class="button1" onclick="Send_2()">Click Me</button>
		
        </td>
		
		<td bgcolor="#ffffff" colspan="3" align="center">
			<img  id="den4" src="images/12.jpg" />
        </td>		
     </tr>
	 </table>	
	 
	 </div>
	
	 
	 
    </section>
    <!-- End About Section -->

    <!-- Contact Section -->
	<center>
    <section id="contact">
        <div class="contact container">
            <div>
                <h1 class="section-title">Contact <span>info</span></h1>
            </div>
            <div class="contact-items">
                <div class="contact-item">
                    <div class="icon" style="width: 400px; height: 120px;"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
                    <div class="contact-info">
                        <h1>Phone</h1>
                        <h2>0392864506</h2>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="icon" style="width: 400px; height: 120px;"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
                    <div class="contact-info">
                        <h1>Email</h1>
                        <h2>toannv10291@gmail.com</h2>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="icon" style="width: 400px; height: 120px;"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
                    <div class="contact-info">
                        <h1>Address</h1>
                        <h2>Phước Thọ, Phước Hưng , Long Điền , BVRT</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
	</center>
	
	<div id="snackbar">Đã Gửi Data</div>
    <!-- End Contact Section -->
    <center>
    <!-- Footer -->
    <section id="footer">
        <div class="footer container">
            <div class="brand">
                <h1>NGUYỄN VĂN TOÀN</h1>
            </div>
            <div class="social-icon">
                <div class="social-item" style="width: 200px; height: 200px;">
                    <a href="https://www.google.com.vn/"><img src="images/22.jpg" /></a>
                </div>
                <div class="social-item" style="width: 200px; height: 200px;">
                    <a href="https://www.youtube.com/?gl=CA"><img src="images/20.jpg" /></a>
                </div>
                <div class="social-item" style="width: 200px; height: 200px;">
                    <a href="https://www.facebook.com/"><img src="images/18.jpg" /></a>
                </div>
                <div class="social-item" style="width: 200px; height: 200px;">
                    <a href="https://www.google.com/gmail/about/#"><img src="images/21.jpg" /></a>
                </div>
            </div>
            <h1>Copyright © 2020. All rights reserved</h1>
        </div>
    </section>
	</center>

</body>



</html>